*{padding: 0; border: 0; margin: 0;}
a{text-decoration: none;}
li{list-style: none;}
html,body{
    width: 100%;
/*    height: 2800px;*/
}
.header_global{
    width: 100%;
    height: 117px;
}
.header_global .header_menu{
    width: 1646px;
    margin: 0 auto;
    height: 115px;
}
.header_global .header_menu:after{
    content: "";
    display: block;
    background-color: black;
    width: 1888px;
    height: 1px;
    margin: 0 auto;
    margin-top: 53px;
    margin-left: -121px;
/*    top: 115xp;*/
    position: absolute;
}
.header_global .header_menu nav ul{
    margin-top: 30px;
}
.header_global .header_menu .logo{
    position: relative;
    top: 10px;
}
.header_global .header_menu ul li{
    display: inline-block;
}
.header_global .header_menu a{
    color: black;
}
.header_global .header_menu ul li a{
    display: inline-block;
    font-size: 15px;
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    line-height: 0;
/*    letter-spacing: 0.076em;*/
}
.header_global .header_menu ul:nth-child(1){
    margin-top: 20px;
    position: relative;
    float: left;
}
.header_global .header_menu .spot:after{
    content: "";
    display: block;
    background-color: white;
    width: 1px;
    height: 9px;
    position: absolute;
    left: 30;
    top: 14px;
}
.header_global .header_menu ul:nth-child(1) img{
    position: relative;
    top: 5px;
}
.header_global .header_menu ul:nth-child(1) .search{
    margin-left: 28px;
}
.header_global .header_menu ul:nth-child(2){
    width: 1170px;
    margin: 0 auto;
    margin-top: 18px;
}
.header_global .header_menu ul:nth-child(2) li{
    margin-right: 47px;
}
.header_global .header_menu ul:nth-child(2) li:last-child{
    margin-right: 0;
}
.header_global .login{
    float: right;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    margin-top: -15px;
}
/*--------------------header end-----------------------*/
.main_banner{
    width: 1438px;
    margin: 0 auto;
    margin-top: 59px;
}
.main_banner section{
    float: left;
}
.main_banner > img{
    float: right;
}
.main_banner section .txt{
    display: inline-block;
    margin-left: 15px;
    font-size: 19px;
    color: #4d4d4d;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    position: relative;
    top: -1px;
    margin-top: 54px;
}
.main_banner section h2{
    font-size: 45px;
    color: #282828;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.085em;
    margin: 28px auto 20px 37px;
}
.main_banner section p{
    margin-left: 37px;
    font-size: 17px;
    color: #4a4a4a;
    line-height: 1.5;
}
/*--------------------main_banner end-----------------------*/
.history{
    width: 1648px;
    margin: 0 auto;
}
.history ul{
    margin: 120px auto 182px auto;
}
.history ul li{
    float: left;
    text-align: center;
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 400;
    color: #3f3f3f;
    font-size: 15px;
    line-height: 1.5;
    display: inline-block;
}
.history ul li:nth-child(1){
    margin-right: 82px;
    margin-left: 37;
}
.history ul li:nth-child(2){
    margin-right: 75px;
    margin-left: 15px;
}
.history ul li:nth-child(3){
    margin-right: 84px;
    margin-left: 17px;
}
.history ul li:nth-child(4){
    margin-right: 126px;
    margin-left: 17px;
}
.history ul li:nth-child(5){
    margin-right: 148px;
    margin-left: 15px;
}
.history ul li:nth-child(6){
    margin-left: 13px;
}
.history li p:nth-child(1){
    font-weight: 500;
    margin-bottom: 30px;
}
.history li p:nth-child(2){
    font-weight: 400;
}
.history img{
    position: relative;
    top: -66;
}
/*--------------------history end-----------------------*/
.style {
    height: 1847px;
}
.style .style_wrap{
    background-image: url(../img/sub2_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 679px;
    width: 100%;
}
.style:before{
    content: "";
    display: block;
    background-color: #6e6e6e;
    height: 128px;
    width: 1px;
    position: relative;
    margin: 0 auto;
    top: 127px;
}

.style .style_wrap > img{
    width: 441px;
    margin: 0 auto;
    display: block;
    margin: 76px auto 19px auto;
    padding-top: 76px;
}

.style .style_wrap > p{
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 300;
    letter-spacing: 0.075em;
}
.style ul{
    width: 1648px;
    margin: 0 auto;
    position: relative;
    top: -445px;
}
.style ul li{
    float: left;
}
.style ul li:nth-child(1),:nth-child(3){
    margin-right: 107px;
}
.style ul li .inner1 h3{
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}
.style ul li .inner2 h3{
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}
.style ul li .inner3 , .inner4{
    margin-top: 62px;
}
.style ul li .inner3 h3{
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
    text-transform: uppercase;
    color: #3f3f3f;
}
.style ul li .inner4 h3{
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
    text-transform: uppercase;
    color: #3f3f3f;
}
.style ul li .inner1 p{
    text-align: left;
    line-height: 1.8;
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 15px;
    margin: 15px auto 40px auto;
}
.style ul li .inner2 p{
    text-align: left;
    line-height: 1.8;
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 15px;
    margin: 15px auto 40px auto;
}
.style ul li .inner3 p{
    text-align: left;
    line-height: 1.8;
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 300;
    color: #5a5a5a;
    font-size: 15px;
    margin: 15px auto 40px auto;
}
.style ul li .inner4 p{
    text-align: left;
    line-height: 1.8;
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 300;
    color: #5a5a5a;
    font-size: 15px;
    margin: 15px auto 40px auto;
}
.style ul li a{
    float: right;
    margin-top:  21px;
    display: inline-block;
} 
.style ul li a span{
    font-size: 15px;
    color: #1f1f1f;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 16px;
}
/*--------------------style end-----------------------*/
footer{
    background-color: #151515;
    width: 100%;
    height: 380px;
    margin-top: -100xpx;
    position: relative;
}
footer .container{
    position: absolute;
    top: -5px;
    left: -10px;
}
footer .footer_inner{
    width: 1646px;
    margin: 0 auto;
    position: relative;
}
footer .footer_inner .logo{
    margin-top: 24px;
    position: relative;
    margin-bottom: 24px;
    float: left;
}
footer .footer_inner:before{
    content: "";
    display: block;
    width: 1920px;
    clear: both;
    height: 1px;
    background-color: #b9b9b9;
    position: absolute;
    top: 90px;
    left: -147px;
}
footer .footer_inner .footer_wrap{
    float: left;
    margin-top: 90px;
    margin-left: -153px;
}
footer .footer_inner .footer_wrap li{
    float: left;
    margin-bottom: 16px;
    margin-top: 23px;
}
footer .footer_inner .footer_wrap .txt1 a{
    color: #b9b9b9;
    margin-right: 35px;
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 300;
    font-size: 15px;
}
footer .footer_inner .footer_wrap .txt2 li{
    float: left;
    margin-right: 19px;
}
footer .footer_inner .mail{
    position: absolute;
    float: right;
    margin-top: 90px;
    left: 1222px;
}
footer .footer_inner .mail .mail_wrap{
    margin-top: 16px;
}
footer .footer_inner .mail .mail_wrap p{
    font-size: 15px;
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 300;
    color: #b9b9b9;
    display: inline-block;
    vertical-align: middle;
    margin-top: -13px;
    margin-left: 17px;
}
footer .footer_inner .mail .main_inner{
    box-sizing: border-box;
    border: 1px solid #b9b9b9;
    width: 421px;
    padding: 17px 22px;
    position: relative;
    margin-top: 16px;
}
footer .footer_inner .mail .main_inner p:first-child{
    font-family: "Noto Sans CJK KR", sans-serif;
    font-weight: 300;
    color: #b9b9b9;
    font-size: 15px;
    text-align: left;
    display: inline-block;
}
footer .footer_inner .mail .main_inner p:last-child{
    box-sizing: border-box;
    border: 1px solid #b9b9b9;
    text-align: right;
    display: inline-block;
    padding: 16.5px 22px;
    position: absolute;
    color: #b9b9b9;
    left: 305px;
    top: -1px;
}
footer .footer_inner .more{
    position: absolute;
    top: 319px;
}
footer .footer_inner .more p{
    vertical-align: middle;
    font-size: 15px;
    color: #b9b9b9;
    font-family: 'Kanit', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 16px;
    font-weight: 100;
}












